main {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;    /* center on wide screens */
}

p {
  margin: 1em 0;
}

.intro p {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.about {
  grid-column: 2;
}

.about {
  margin-top: 2rem;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
${if(fontweight)}
  font-weight: ${fontweight};
${endif}
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header {
  margin-bottom: 4em;
  text-align: center;
}
