main {
  margin-top: 4rem;
}

@media (min-width: 769px) {
  main {
    margin-top: 2rem;
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-inline: auto;    /* center on wide screens */
  }
  .about {
    grid-column: 2;
  }
}

.intro p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
${if(fontweight)}
  font-weight: ${fontweight};
${endif}
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}
