<!DOCTYPE html>
<html lang="en">
<head>
  ${meta.html()}
  <meta property="og:title" content="About — ${site-title}">
  <meta property="og:description" content="${about-description}">
  <meta property="og:type" content="website">
  <title>${site-title}</title>
  <!--link rel="stylesheet" href="/assets/katex/katex.min.css"-->
  <style>
    ${base.css()}
    ${about.css()}
  </style>
</head>
<body>
  ${topheader.html()}

  <main>
    <section class="about">
      ${body}
    </section>
  </main>

</body>
</html>
