${for(fonts)}
@font-face {
  font-display: swap;
  font-family: '${fonts.family}';
  font-style: ${fonts.style};
  font-weight: ${fonts.weight};
  src: url('${fonts.path}') format('${fonts.format}');
}
${endfor}

:root {
  --fg: ${if(fontcolor)}${fontcolor}${else}#141413${endif};
  --bg: ${if(backgroundcolor)}${backgroundcolor}${else}#faf9f5${endif};
  --headerfg: ${if(headercolor)}${headercolor}${else}var(--bg)${endif};
  --monofg: ${if(monofg)}${monofg}${else}#8a2424${endif};
  --monobg: ${if(monobg)}${monobg}${else}#f0efec${endif};
  --borderbg: ${if(borderbg)}${borderbg}${else}#d1cfcd${endif};
  --codefg: ${if(codefg)}${codefg}${else}#14181F${endif};
  --tocfg: ${if(tocfg)}${tocfg}${else}#3D3D3A${endif};
  --linkfg: ${if(linkcolor)}${linkcolor}${else}#1a1a1a${endif};
  --max-width: ${if(maxwidth)}${maxwidth}${else}36em${endif};
  --padding-left: ${if(margin-left)}${margin-left}${else}50px${endif};
  --padding-right: ${if(margin-right)}${margin-right}${else}50px${endif};
  --padding-top: ${if(margin-top)}${margin-top}${else}50px${endif};
  --padding-bottom: ${if(margin-bottom)}${margin-bottom}${else}50px${endif};
  --mono-font: ${if(monofont)}${monofont}${else}Menlo, Monaco, Consolas, 'Lucida Console', monospace${endif};
}

/* dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --fg: ${if(fontcolor)}${fontcolor}${else}#faf9f5${endif};
    --bg: ${if(backgroundcolordark)}${backgroundcolordark}${else}#262624${endif};
    --monofg: ${if(monofgdark)}${monofgdark}${else}#fe8181${endif};
    --monobg: ${if(monobgdark)}${monobgdark}${else}#2b2b29${endif};
    --borderbg: ${if(borderbgdark)}${borderbgdark}${else}#484844${endif};
    --codefg: ${if(codefgdark)}${codefgdark}${else}#eaecf0${endif};
    --tocfg: ${if(tocfgdark)}${tocfgdark}${else}#C2C0B6${endif};
    --linkfg: ${if(linkcolordark)}${linkcolordark}${else}#faf9f5${endif};
  }
}

/* ---- Reset ---- */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---- Layout ---- */
html {
${if(mainfont)}
  font-family: ${mainfont};
${endif}
${if(fontsize)}
  font-size: ${fontsize};
${endif}
${if(fontweight)}
  font-weight: ${fontweight};
${endif}
${if(linestretch)}
  line-height: ${linestretch};
${endif}
  color: var(--fg);
  background-color: var(--bg);
}

body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

@media (min-width: 769px) {
  body {
    max-width: var(--max-width);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
  }
}

header.topheader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background: var(--headerfg);
  opacity: .94;
  z-index: 100;
  border-bottom: 1px solid #e0e0e0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: 4rem;
  gap: 2rem;
}

header nav div {
  display: flex;
  gap: 2rem;
}

header nav a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 1em 0;
}

a {
  color: var(--linkfg);
}

a:visited {
  color: var(--linkfg);
}

header {
  margin-bottom: 4em;
  text-align: center;
}

