<!DOCTYPE html>
<html lang="en">
<head>
  ${meta.html()}
  <meta property="og:title" content="${site-title}">
  <meta property="og:description" content="${description}">
  <meta property="og:type" content="website">
  <title>${site-title}</title>
  <!--link rel="stylesheet" href="/assets/katex/katex.min.css"-->
  <style>
    ${base.css()}
    ${index.css()}
  </style>
</head>
<body>
  ${topheader.html()}

  <main class="home">

    <section class="intro">
      <h1>${site-title}</h1>
      <p>${description}</p>
    </section>

    <section class="posts">
      <ul>
        ${for(posts)}
        <li>
          <time datetime="${posts.date}">${posts.date}</time>
          <a href="${posts.url}">${posts.title}</a>
          ${if(posts.description)}
          <p>${posts.description}</p>
          ${endif}
        </li>
        ${endfor}
      </ul>
    </section>

  </main>

</body>
</html>
