<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
${for(fonts)}
<link rel="preload" href="${fonts.path}" as="font" type="font/${fonts.format}" crossorigin>
${endfor}
<meta name="robots" content="index, follow">
<meta property="og:url" content="${site-url}${url}">
<meta property="og:image" content="${site-url}${favicon-path}">
<meta name="twitter:card" content="summary">
<link rel="canonical" href="${site-url}${url}">
<link rel="icon" href="${favicon-path}">

