<!DOCTYPE html>
<html lang="en">
<head>
  ${meta.html()}
  <meta property="og:title" content="${title}">
  <meta property="og:description" content="${description}">
  <meta property="og:article:published_time" content="${date}">
  <meta property="article:author" content="${author}">
  <meta property="og:type" content="article">

  <title>${title}</title>
  <style>
    ${base.css()}
    ${post.css()}
  </style>
${if(math)}
  ${math}
  <script>
    /* Hide math warning if inline scripts are allowed.
       Known limitation: If the CDN math rendering script is blocked but inline
       scripts are allowed (for instance by a browser extension such as
       NoScript), the warning will be incorrectly hidden. Other solutions are
       considered too complex though. */
    document.addEventListener('DOMContentLoaded', function() {
      var warning = document.querySelector('.math-warning');
      if (warning) warning.style.display = 'none';
    });
  </script>
${endif}
$for(css)$
  <link rel="stylesheet" href="${css}" />
${endfor}
${if(favicon)}
  <link rel="icon" href="${favicon}" />
${endif}
</head>

<body>
  ${topheader.html()}

  <main>
    <aside>
      <details open>
        <summary>Table of contents</summary>
        <nav id="toc">
          ${table-of-contents}
        </nav>
      </details>
    </aside>

    <article>
      <div class="math-warning">
        This page needs Javascript for math rendering.
      </div>

      <header id="article-header">
      ${if(title)}
        <h1 class="title">${title}</h1>
      ${endif}
      ${if(subtitle)}
        <p class="subtitle">${subtitle}</p>
      ${endif}
      ${if(date)}
        <p class="date">Created on ${date}</p>
      ${endif}
      ${if(abstract)}
        <div class="abstract">
          <div class="abstract-title">${abstract-title}</div>
          ${abstract}
        </div>
      ${endif}
      </header>

      ${body}
    </article>
  </main>
</body>
</html>
