<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>${title}</title>
  <style>
    ${base.css()}
    ${post.css()}
  </style>
  <!--link rel="stylesheet" href="style.css"-->
${if(math)}
  ${math}
  <script>
    /* Hide math warning if inline scripts are allowed.
       Known limitation: If the CDN math rendering script is blocked but inline
       scripts are allowed (for instance by a browser extension such as
       NoScript), the warning will be incorrectly hidden. Other solutions are
       considered too complex though. */
    document.addEventListener('DOMContentLoaded', function() {
      var warning = document.querySelector('.math-warning');
      if (warning) warning.style.display = 'none';
    });
  </script>
${endif}
$for(css)$
  <link rel="stylesheet" href="${css}" />
${endfor}
${if(favicon)}
  <link rel="icon" href="${favicon}" />
${endif}
</head>

<body>
  <header class="topheader">
    <nav>
      <a href="/">${site-title}</a>
      <a href="/about.html">About</a>
    </nav>
  </header>

  <main>
    <aside>
      <nav id="toc">
        ${table-of-contents}
      </nav>
    </aside>

    <article>
      <div class="math-warning">
        This page needs Javascript for math rendering.
      </div>

      <header id="article-header">
      ${if(title)}
        <h1 class="title">${title}</h1>
      ${endif}
      ${if(subtitle)}
        <p class="subtitle">${subtitle}</p>
      ${endif}
      ${for(author)}
        <p class="author">${author}</p>
      ${endfor}
      ${if(date)}
        <p class="date">Created on ${date}</p>
      ${endif}
      ${if(abstract)}
        <div class="abstract">
          <div class="abstract-title">${abstract-title}</div>
          ${abstract}
        </div>
      ${endif}
      </header>

      ${body}
    </article>
  </main>
</body>
</html>
